* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}

.navbar {
    /* width: 100%; */
    height: 8vh;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 10px 25px;
}

.gmail,
.image {
    margin-left: 10px;
    cursor: pointer;
    color: rgb(85, 85, 85);
    text-decoration: none;
}

.gmail:hover,
.image:hover {
    text-decoration: underline;
}

.menu-item {
    width: 34px;
    height: 34px;
    cursor: pointer;
    margin-left: 10px;
    padding: 5px;
}

.menu-item img {
    width: 100%;
    height: 100%;
}

.menu-item:hover {
    background-color: #f2f2f2;
    border-radius: 50%;
}

.mainContainer {
    margin-top: 90px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url(./image/google_logo.svg);
    width: 272px;
    height: 92px;
    margin-bottom: 40px;
}

.searchBox {
    width: 550px;
    box-shadow: 0px 1px 6px 1px #dedcdc;
    background-color: #fff;
    border-radius: 30px;
}

.searchBox.active {
    border-radius: 8px;
}

.searchBox .searchContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 45px;
}

.voice-icon {
    background-image: url(./image/googlemic_clr_24px.svg);
    width: 24px;
    height: 24px;
    padding: 24px;
    cursor: pointer;
}

.background-pos {
    background-repeat: no-repeat;
    background-position: center;
}

.searchBox input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
}

.searchBox input::placeholder {
    color: rgb(105, 105, 105);
}

.searchBox.focus input::placeholder {
    visibility: hidden;
}

i {
    color: rgb(108, 108, 108);
    padding: 15px;
}

.searchBox .auto-complete {
    width: 100%;
    font-size: 16px;
    display: none;
    padding-bottom: 8px;
}

.searchBox .auto-complete li {
    list-style: none;
    display: flex;
    align-items: center;
}

.searchBox .auto-complete li.active {
    background-color: rgb(231, 231, 231);
}

.searchBox .auto-complete li:hover {
    background-color: rgb(231, 231, 231);
}
.searchBox .auto-complete li:hover .del{
    display: inline;
}


.auto-complete li i {
    font-size: 12px;
}

.searchBox.active .auto-complete {
    display: block;
}

.del{
    margin-left: auto;
    margin-right: 50px;
    width: 7px;
    font-size: 14px;
    color: rgb(108, 108, 108);
    display: none;
    cursor: pointer;
}

.del:hover{
    color: #1a73e8;
    text-decoration: underline;
}

@media screen and (max-width:768px) {
    .mainContainer {
        margin-top: 40px;
    }

    .logo {
        margin-bottom: 20px;
        width: 230px;
        height: 78px;
    }

    .searchBox {
        width: 425px;
    }
}

@media screen and (max-width:486px) {
    .navbar {
        margin: 15px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .gmail,
    .image {
        display: none;
    }

    .mainContainer {
        margin: 30px 15px;
    }

    .logo {
        width: 170px;
        height: 58px;
        margin-bottom: 8px;
    }

    .searchBox {
        width: 100%;
    }
}

@media screen and (max-width:368px) {
    .navbar {
        margin: 0 15px 0 0;
    }

    .mainContainer {
        margin: 20px 15px;
    }

    .searchBox input::placeholder {
        font-size: 12px;
    }

    .logo {
        width: 135px;
        height: 46px;
        margin-bottom: 8px;
    }

    .searchBox {
        width: 100%;
    }

    .searchBox .searchContainer {
        height: 38px;
    }
}